nav {
  position: fixed;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  overflow: hidden;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  margin: 20px 10px 0 10px;
  float: left;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 4px 4px 4px #aaa;

}
/*compose tweet button*/
#nav-bar div h4 {
  float: right;
  margin: 1em 0 0 0;
  border: solid black 1px;
  padding: 1em 1em;
  border-radius: 5%;
  background: lightblue;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: teal;
  display: inline-block;
}

#nav-bar div h4 .fa.fa-pencil-square-o {
  padding-right: 0.1em;
}

#nav-bar div h4:hover {
  background: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  filter: grayscale(100%);
}