/*the white background*/

main {
  margin: 0 auto;
  width: 68%;
  /*text-align: center;*/
  background: white;
  padding-top: 140px;
  padding-bottom: 100%;
}

/*add the gray box around/*/
.container .new-tweet {
    background: #eee;
  margin: 0 2em 1em 2em;
  border: solid gray 1px;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 2%;
}


/*effects the "compose tweet"*/
.container .new-tweet h2 {
  text-align: left;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  margin-right: 10px;
  margin-left: 10px;
  /*padding-left: 10px;*/
}

/*tweet button*/
.container .new-tweet form input {
  float: left;
  margin-left: 3%;
}

/*the counter*/

.container .new-tweet form span {
  float: right;
  margin-right: 3%;
}

/*text box*/
.container .new-tweet form textarea {
  margin-left: 3%;
  margin-right: 5%;
  /*padding-right: 95px;*/
  text-align: left;
  min-width: 94%;
}

