.container .single-tweet {
  background: #eee;
  margin: 0 2em 1em 2em;
  border: solid gray 1px;
  border-radius: 5px;
  overflow: hidden;
}

.container .single-tweet header h1 {
  text-align: left;
  vertical-align: top;
  /*padding-left: 20%;*/
  margin: 0 20% 0 0;
  background: #eee;
  display: inline-block;
}

.container .single-tweet header h4 {
  text-align: right;
  /*line-height: 9px;*/
  margin-top: 0 0 10px 60px;
  margin-bottom: 10px;
  margin-left: 60px;
  line-height: 10px;
  vertical-align: top;
  display: inline-block;
}

#tweets-container .single-tweet .tweet {
  background: white;
  padding: 2em 0;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;

}

#tweets-container .single-tweet .date {
  text-align: left;
  padding-left: 5px;
  border-top: solid gray 1px;
  margin: 0 0 0 0;
  background: white;
}

#tweets-container .single-tweet .logo {
  width: 60px;
  height: 60px;
  /*margin-right: 80%;*/
  text-align: left;
  display: inline-block;
  border-radius: 5px;
  /*background:red;*/
  margin-left: 5px;
  margin-top:5px;
}

#tweets-container .single-tweet .icons {
  background: white;
  text-align: right;
  padding-right: 5px;
}