.container .single-tweet {
  background: #eee;
  margin: 0 2em;
  border: solid gray 1px;
  border-radius: 5px;
  overflow: hidden;
}

.container .single-tweet header h1 {
  text-align: left;
  padding-left: 20%;
  margin: 10px 0 0 0;
  background: #eee;
}

.container .single-tweet header h4 {
  text-align: right;
  line-height: 9px;
  margin-bottom: 10px;
  padding-right: 5px;
}

.tweets-container .single-tweet .tweet {
  background: white;
  padding: 2em 0;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;

}

.tweets-container .single-tweet .date {
  text-align: left;
  padding-left: 5px;
  border-top: solid gray 1px;
  margin: 0 0 0 0;
  background: white;
}

.container .tweets-container .single-tweet .logo {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 5px;
  background:red;
  margin-left: 5px;
}

.tweets-container .single-tweet .icons {
  background: white;
  text-align: right;
  padding-right: 5px;
}